<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar By Reeokey</title>

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/Icons/css/all.css"
</head>
<body>

    <nav>
        <ul>
        <li> <a href="#" class="logo">
        <img src="../img/profile.CR2" alt="User-image">
        <span class="nav-item">My Web</span>
        </a></li>
        <li><a href="#"><i class='fa fa-home-alt'></i><span class="nav-item">Home</span></a></li>
        <li><a href="#"><i class='fa fa-user-alt'></i><span class="nav-item">Profile</span></a></li>
        <li><a href="#"><i class='fa fa-folder-open'></i><span class="nav-item">Wallet</span></a></1i>
        <li><a href="#"><i class='fa fa-chart-column'></i><span class="nav-item">Analytics</span></a></li>
        <li><a href="#"><i class='fa fa-cog'></i><span class="nav-item">Settings</span></a></li>
        <li><a href="#"><i class='fa fa-circle-question'></i><span class="nav-item">Help</span></a></1i>
        <li><a href="#" class="logout"><i class='fa fa-arrow-circle-right'></i><span class="nav-item">Log Out</span></a></li>
        </ul>
        </nav>
    
</body>
</html>



